/* General Styles */
body {
    font-family: "Parkinsans", serif;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
    color: #333;
}

/* Header Styles */
header {
    background-color: #0d0d0d;
    text-align: center;
    color: #9a1829;
    padding: 20px 0;
}

header nav {
    margin-bottom: 20px;
    background-color: #0d0d0d;
    position: fixed;
    top: 0;
    width: 100%;
}

header nav a {
    line-height: 50px;
    color: #9a1829;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s;
}

header nav a:hover {
    color: #ffe4e1;
}

header h1 {
    font-size: 40px;
    background-color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
    margin-top: 50px;
}

/* Main Styles */
main {
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.8em;
    color: #9a1829;
    margin-bottom: 15px;
    border-bottom: 2px solid #9a1829;
    padding-bottom: 5px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead th {
    background-color: #9a1829;
    color: #fff;
    padding: 10px;
    text-align: left;
}

tbody td {
    border: 1px solid #ddd;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #ffe4e1;
}

/* List Styles */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin-bottom: 10px;
    color: #555;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #0d0d0d;
    color: #9a1829;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 0.9em;
}
